<nav>
  <div class="logo">Favorite Pokemons</div>
  <ul class="nav-links">
      <li>
          <a routerLink="/kanto" routerLinkActive ='active-link'> 
              Kanto Region
          </a>
      </li>
      <li>
          <a routerLink="/johto" routerLinkActive ='active-link'> 
              Johto Region
          </a>
      </li>
      <li>
          <a routerLink="/hoenn" routerLinkActive ='active-link'> 
              Hoenn Region
          </a>
      </li>
      <li>
          <a routerLink="/pokemart" routerLinkActive ='active-link'> 
              Pokemart
          </a>
      </li>
  </ul>
</nav>