<div class="card"
     [class.kanto-card]="region() === 'kanto'"
     [class.johto-card]="region() === 'johto'"
     [class.hoenn-card]="region() === 'hoenn'">
  <div class="card-header">
    <h3>{{ pokemon()?.name }}</h3>
  </div>

  <div class="image-frame">
    @if (pokemon()?.image) {
      <img [src]="pokemon()?.image" [alt]="pokemon()?.name" />
    }
  </div>

  <div class="card-body">
    <p><strong>Type:</strong> {{ pokemon()?.type }}</p>
    <p><strong>Held Item:</strong> {{ pokemon()?.item }}</p>
    <p class="desc">{{ pokemon()?.desc }}</p>
  </div>
</div>